@page
@model MINOR2.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Kies een getal</h1>
    <p>
        <a href="/Pagina2?nummer=1">1</a>
    </p>
    <p>
        <a href="/Pagina2?nummer=2">2</a>
    </p>
    <p>
        <a href="/Pagina2?nummer=3">3</a>
    </p>
    <p>
        <a href="/Pagina2?nummer=4">4</a>
    </p>
    <p>
        <a href="/Pagina2?nummer=5">5</a>
    </p>
</div>