@page
@model MINOR2.Pages.Pagina3Model
@{
    ViewData["Title"] = "Resultaat";
}

<div class="text-center">
    <h1 class="display-4">@Model.EersteGetal + @Model.TweedeGetal = @Model.Resultaat</h1>
    <p>
        <a href="/">Terug naar home</a>
    </p>
</div>